@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    font-family: 'Montserrat', sans-serif;
}
body p {
    font-size: 1.2em;
}
body h3{
    font-size: 1.7em;
}

body h1 {
    font-size: 2em;
}
body h2 {
    font-size: 1.9em;
}

html { font-size: 75%;}
@media only screen and (max-device-width: 480px) {
	html { font-size: 100%; }
}

.header {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.logo {
    align-self: flex-start;
}

.nav {
    align-self: flex-end;
    justify-content: space-evenly;
    margin-right:25px;
}

.nav h4 {
    padding-top: 25px;
    align-self: flex-start;
    margin-right: 40px;
}
.nav h4 strong {
    padding-top: 25px;
    font-weight: bold;
}


.nav ul li a {
    text-decoration: none;
    color: #1a1818;
    padding: 5px;
    flex-wrap: nowrap;
    border-right: 1px solid #ECECEC;
}

.cta {
    margin-top: 2%;
    background: #66527B;
    min-height: 10em;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-top: 1px solid #1a1818;
    flex: 1;
}

.cta h1 {
    font-size: 2em;
    flex-grow: 1;
    flex: 1;
    justify-content: center;
}

.cta button {
    min-height: 30px;
    min-width: 10%;
    background-color:#f90;
    border: 2px solid rgb(27, 27, 27);
    color: antiquewhite;
    display: inline-block;
    border-radius: 7px;
    display: inline-block;
    margin: 2%;
    transition: all .3s ease-in-out;

}

.cta button a  {
    font-size: 20px;
}

button.orange {
    background: #f90;
    color: #FFF;
    border: 4px solid #f90;
}

button.orange:hover {
    background: #f90;
    color: #FFF;
    border: 4px solid #f90;
    box-shadow: 0 1px #EFEFEF;
}

button.orange:active {
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.3);
}

.text-pannels {
    display: flex;
    padding: 25px;
}

.text-pannels h3, p {
    line-height: 1.8em;
}

.text-pannels > div {
    flex: 1;
}